
ul {
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
  
    font-family: sans-serif;
    background: url(close.jpg);
    background-attachment: fixed;
    background-position: center;


}
header{
    position: absolute;
    top:0;
    left:0;
    padding: 0 5%;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
   /* display: flex;
    justify-content: flex-start;*/
    font-weight: bold;
}
.navFlex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.navFlex nav ul {
    display: flex;
  
}
.menu-toggle{
    color: #fff;
}
header .navFlex nav ul li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    padding: 0 10px;
    color:#fff;

}
header .navFlex nav ul li a:hover,
header .navFlex nav ul li a.active{
    color: #fff;
    background: #2196f3;
}

.menu-toggle{
    color: #fff;
    cursor: pointer;
}
@media(max-width:991px){
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header .navFlex  nav{
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: #333;
        top: 50px;
        left: -100%;
        display: flex;
       flex-direction: column;
       align-items: center;
       transition: 0.5s;
    }
    
    header .navFlex  nav ul{
        display: block;
       text-align: center;
    }
    
    header .navFlex  nav ul li {
        border-bottom: 1px solid rgba(0,0,0,.2);
        display: flex;
        justify-content: stretch;
        flex-direction: column;
        align-items: center;
    }
    header .navFlex  nav.active  {

        left:0;
    }
    
}
